---
layout: default
title: Categories
---
{% assign categories = site.categories | sort %}
<div id="categories">
  <div class="category">
    <h2>Categories</h2>
    <ul>
      {% for category in categories %}
        <li><a href="#{{ category[0] | downcase | replace:' ','-' }}" class="category-link">{{ category[0] }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% for category in categories %}
    <div class="category">
      <h3 id="{{ category[0] | downcase | replace:' ','-' }} class="category-link">{{ category[0] }}</h3>
      <ul>
        {% for post in category.last reversed %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
