---
layout: default
title: Index
---
<div id="posts">
  {% for post in site.posts %}
  <div class="post clearfix">
    {% if forloop.index0 < 3 %}
      <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
      <p class="details">Posted on {{ post.date | date_to_long_string }} in 
        {% assign categories = post.categories | sort %}
        {% for category in categories %}
          <a href="{{ site.baseurl }}/categories.html#{{ category | downcase | replace:' ','-' }}">{{ category | capitalize}}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </p>
      {% if forloop.first %}
        {{ post.excerpt }}
      {% endif %}
    {% else %}
      <div class="post-date">{{ post.date | date: "%Y, %b %d" }}</div>
      <div class="post-title"><a href="{{ post.url }}"><h2>{{ post.title }}</h2></a></div>
    {% endif %}
  </div>
  {% endfor %}
</div>
