:root {
  --colour-white: #ffffff;
  --colour-white-darkmode: #1e2022;
  --colour-gray: #a3a1a1;
  --colour-gray-darkmode: #5e5e5f;
  --colour-light: #e3dede;
  --colour-light-darkmode: #3e4042;
  --colour-primary: #282c37;
  --colour-primary-darkmode: #c9d6de;
  --colour-secondary: #2b90d9;
  --colour-secondary-darkmode: #fd999a;
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Volkhov", serif;
}

* {
  box-sizing: border-box;
  position: relative;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

html {
  color: var(--colour-primary);
  font-family: var(--font-primary);
  min-height: 100vh;
}

.darkmode {
  background: var(--colour-white-darkmode);
  color: var(--colour-primary-darkmode);
}

#container {
  max-width: 700px;
  margin: 5vw auto;
  width: 90vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colour-primary);
  font-family: var(--font-secondary);
  line-height: 1.65em;
  margin: -0.325em 0;
  padding: 0;
}

.darkmode h1,
.darkmode h2,
.darkmode h3,
.darkmode h4,
.darkmode h5,
.darkmode h6 {
  color: var(--colour-primary-darkmode);
}

p,
ul,
li {
  line-height: 1.65rem;
  margin: -0.325rem 0;
}

h3,
p,
ul {
  margin-top: 24px;
}

ul {
  list-style: none;
}

li {
  margin-top: 12px;
}

li::before {
  content: "\2022";
  color: var(--colour-gray);
  display: inline-block;
  margin-left: -1em;
  width: 1em;
}

.darkmode li::before {
  color: var(--colour-gray-darkmode);
}

p:last-of-type,
p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--colour-secondary);
  text-decoration: none;
}

.darkmode a {
  color: var(--colour-secondary-darkmode);
}

a:hover {
  text-decoration: underline;
}

nav {
  line-height: 36px;
  margin-bottom: 48px;
}

nav a {
  color: var(--colour-primary);
  margin-left: 24px;
  padding-bottom: 4px;
}

.darkmode nav a {
  color: var(--colour-primary-darkmode);
}

nav a:hover,
footer a:hover {
  color: var(--colour-gray);
  text-decoration: none;
}

.darkmode nav a:hover,
.darkmode footer a:hover {
  color: var(--colour-gray-darkmode);
}

#logo {
  background: var(--colour-primary);
  color: var(--colour-white);
  border-radius: 2px;
  float: left;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 36px;
}

.darkmode #logo {
  background: var(--colour-primary-darkmode);
  color: var(--colour-white-darkmode);
}

.current {
  border-bottom: 2px solid;
  padding-bottom: 2px;
}

.post {
  margin-top: 24px;
}

.post-date,
.post-title {
  float: left;
}

.post-date {
  width: 120px;
  color: var(--colour-gray);
}

.darkmode .post-date {
  color: var(--colour-gray-darkmode);
}

.post-title {
  width: calc(100% - 120px);
  clear: right;
}

.post-title h2 {
  color: var(--colour-secondary);
  font-family: var(--font-primary);
  font-size: initial;
  font-weight: initial;
}

.darkmode .post-title h2 {
  color: var(--colour-secondary-darkmode);
}

.post:first-child,
.category:first-child {
  margin-top: 0;
}

.post:first-child,
.post:nth-child(3),
.category:first-child {
  border-bottom: 1px solid var(--colour-light);
  padding-bottom: 24px;
}

.darkmode .post,
.darkmode .category {
  border-color: var(--colour-light-darkmode);
}

.post:nth-child(2),
.post:nth-child(4),
.category {
  margin-top: 24px;
}

.category ul {
  margin-bottom: 0;
}

.category li {
  margin: initial;
}

.category-link {
  text-transform: capitalize;
}

.details {
  color: var(--colour-gray);
  font-size: 0.85rem;
  margin-top: 12px;
}

.darkmode .details {
  color: var(--colour-gray-darkmode);
}

.page-navigation {
  display: block;
  width: auto;
}

.page-navigation a {
  display: block;
  float: left;
  line-height: 1.65em;
  margin: -0.325em 0;
  width: 45%;
}

.page-navigation .next {
  float: right;
  text-align: right;
}

.page-navigation .details {
  display: block;
  font-weight: 7000;
  margin-top: 0;
}

pre {
  margin: 24px 0 0 0;
  overflow: scroll;
  padding: 12px;
  width: 100%;
}

footer {
  padding: 48px 0 24px 0;
}

footer a {
  background: var(--colour-light);
  border-radius: 5px;
  color: var(--color-primary);
  font-size: 0.85rem;
  margin-right: 8px;
  padding: 2px 8px;
  text-decoration: none;
}

.darkmode footer a {
  background: var(--colour-light-darkmode);
  color: var(--colour-primary-darkmode);
}
