:root {
  --colour-dark: #09203f;
  --colour-gray: #d5d5d5;
  --colour-primary: #537895;
  --colour-white: #fff;
  --font-primary: "Noto Sans", sans-serif;
  --font-secondary: "Roboto Slab", sans-serif;
}

html {
  color: var(--colour-primary);
  font-family: var(--font-primary, sans-serif);
  min-height: 100vh;
}

#container {
  max-width: 700px;
  margin: 5vw auto;
  width: 90vw;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--colour-dark);
  font-family: var(--font-secondary);
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5rem;
}

nav {
  margin-bottom: 39px;
}

nav a {
  margin: 0 20px 0 0;
  padding: 0 0 6px 0;
  color: var(--colour-gray);
  font-weight: 700;
  text-decoration: none;
}

nav a:hover {
  padding: 0 0 3px 0;
  border-bottom: 3px solid;
}

.current {
  color: var(--colour-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

#posts a:hover {
  text-decoration: underline;
}
