:root {
  --colour-dark: #282c37;
  --colour-gray: #a3a1a1;
  --colour-light: #e3dede;
  --colour-highlight: #2b90d9;
  --colour-primary: #282c37;
  --colour-white: #ffffff;
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Volkhov", sans-serif;
}

* {
  box-sizing: border-box;
  position: relative;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

html {
  color: var(--colour-primary);
  font-family: var(--font-primary);
  min-height: 100vh;
}

#container {
  max-width: 700px;
  margin: 5vw auto;
  width: 90vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colour-dark);
  font-family: var(--font-secondary);
  margin: 0;
  padding: 0;
}

p,
ul,
li {
  line-height: 1.65rem;
}

h3,
p,
ul {
  margin-top: 24px;
}

ul {
  list-style: none;
}

li {
  margin-top: 12px;
}

li::before {
  content: "\2022";
  color: var(--colour-gray);
  display: inline-block;
  margin-left: -1em;
  width: 1em;
}

p:last-of-type,
p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--colour-highlight);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  line-height: 36px;
  margin-bottom: 48px;
}

nav a {
  color: var(--colour-dark);
  margin-left: 24px;
  padding-bottom: 4px;
}

nav a:hover,
footer a:hover {
  color: var(--colour-gray);
  text-decoration: none;
}

#logo {
  background: var(--colour-dark);
  color: var(--colour-white);
  border-radius: 2px;
  float: left;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 36px;
}

.current {
  border-bottom: 2px solid;
  padding-bottom: 2px;
}

.post {
  margin-top: 12px;
}

.post-date,
.post-title {
  float: left;
}

.post-date {
  width: 120px;
  color: var(--colour-gray);
}

.post-title {
  width: calc(100% - 120px);
  clear: right;
}

.post-title h2 {
  color: var(--colour-highlight);
  font-family: var(--font-primary);
  font-size: initial;
  font-weight: initial;
}

.post:first-child,
.category:first-child {
  margin-top: 0;
}

.post:first-child,
.post:nth-child(3),
.category:first-child {
  border-bottom: 1px solid var(--colour-light);
  padding-bottom: 24px;
}

.post:nth-child(2),
.post:nth-child(4),
.category {
  margin-top: 24px;
}

.category ul {
  margin-bottom: 0;
}

.category li {
  margin: initial;
}

.details {
  color: var(--colour-gray);
  font-size: 0.85rem;
  margin-top: 2px;
}

footer {
  padding: 48px 0 24px 0;
}

footer a {
  background: var(--colour-light);
  border-radius: 5px;
  color: var(--color-dark);
  font-size: 0.85rem;
  margin-right: 8px;
  padding: 2px 8px;
  text-decoration: none;
}
